.btn {
  border: 1px solid transparent; }
  .btn.focus, .btn:focus {
    box-shadow: 0 0 0 2px rgba(2, 117, 217, 0.25);
    outline: 0; }
  .btn.disabled, .btn:disabled {
    opacity: .65; }
  .btn.active, .btn:active {
    background-image: none; }

.btn-outline-primary.active, .btn-outline-primary:active, .btn-outline-primary:hover {
  background-color: #303F9F;
  border-color: #303F9F;
  color: white; }

.btn-primary, .show > .btn-outline-primary.dropdown-toggle {
  background-color: #303F9F;
  border-color: #303F9F;
  color: white; }

.btn-primary:hover {
  border-color: #222c70;
  color: white; }

.btn-outline-primary.focus, .btn-outline-primary:focus {
  box-shadow: 0 0 0 2px rgba(2, 117, 217, 0.5); }

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 2px rgba(2, 117, 217, 0.5); }

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #303F9F;
  border-color: #303F9F; }

.card-primary {
  background-color: #303F9F;
  border-color: #303F9F; }

.btn-primary.active, .btn-primary:active {
  background-color: #242f78;
  background-image: none;
  border-color: #222c70;
  color: white; }

.show > .btn-primary.dropdown-toggle {
  background-color: #242f78;
  background-image: none;
  border-color: #222c70;
  color: white; }

.btn-secondary {
  background-color: white;
  border-color: silver;
  color: #2b2b2b; }
  .btn-secondary:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #2b2b2b; }

.btn-outline-secondary.focus, .btn-outline-secondary:focus {
  box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5); }

.btn-secondary.focus, .btn-secondary:focus {
  box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5); }

.btn-secondary.disabled, .btn-secondary:disabled {
  background-color: white;
  border-color: silver; }

.btn-secondary.active, .btn-secondary:active {
  background-color: #e6e6e6;
  background-image: none;
  border-color: #adadad;
  color: #2b2b2b; }

.show > .btn-secondary.dropdown-toggle {
  background-color: #e6e6e6;
  background-image: none;
  border-color: #adadad;
  color: #2b2b2b; }

.btn-info {
  background-color: #039BE5;
  border-color: #039BE5;
  color: white; }

.btn-outline-info.active, .btn-outline-info:active, .btn-outline-info:hover {
  background-color: #039BE5;
  border-color: #039BE5;
  color: white; }

.show > .btn-outline-info.dropdown-toggle {
  background-color: #039BE5;
  border-color: #039BE5;
  color: white; }

.btn-info:hover {
  background-color: #0279b3;
  border-color: #0272a9;
  color: white; }

.btn-info.focus, .btn-info:focus {
  box-shadow: 0 0 0 2px rgba(90, 191, 221, 0.5); }

.btn-outline-info.focus, .btn-outline-info:focus {
  box-shadow: 0 0 0 2px rgba(90, 191, 221, 0.5); }

.btn-info.disabled, .btn-info:disabled {
  background-color: #039BE5;
  border-color: #039BE5; }

.card-info {
  background-color: #039BE5;
  border-color: #039BE5; }

.btn-info.active, .btn-info:active {
  background-color: #0279b3;
  background-image: none;
  border-color: #0272a9;
  color: white; }

.show > .btn-info.dropdown-toggle {
  background-color: #0279b3;
  background-image: none;
  border-color: #0272a9;
  color: white; }

.btn-outline-success.active, .btn-outline-success:active, .btn-outline-success:hover {
  background-color: #689F38;
  border-color: #689F38;
  color: white; }

.btn-success, .show > .btn-outline-success.dropdown-toggle {
  background-color: #689F38;
  border-color: #689F38;
  color: white; }

.btn-success:hover {
  background-color: #4f792b;
  border-color: #4a7228;
  color: white; }

.btn-outline-success.focus, .btn-outline-success:focus {
  box-shadow: 0 0 0 2px rgba(92, 183, 92, 0.5); }

.btn-success.focus, .btn-success:focus {
  box-shadow: 0 0 0 2px rgba(92, 183, 92, 0.5); }

.btn-success.disabled, .btn-success:disabled {
  background-color: #689F38;
  border-color: #689F38; }

.card-success {
  background-color: #689F38;
  border-color: #689F38; }

.btn-success.active, .btn-success:active {
  background-color: #4f792b;
  background-image: none;
  border-color: #4a7228;
  color: white; }

.show > .btn-success.dropdown-toggle {
  background-color: #4f792b;
  background-image: none;
  border-color: #4a7228;
  color: white; }

.btn-outline-warning.active, .btn-outline-warning:active, .btn-outline-warning:hover {
  background-color: #FF8F00;
  border-color: #FF8F00;
  color: white; }

.btn-warning, .show > .btn-outline-warning.dropdown-toggle {
  background-color: #FF8F00;
  border-color: #FF8F00;
  color: white; }

.btn-warning:hover {
  background-color: #cc7200;
  border-color: #c26d00;
  color: white; }

.btn-outline-warning.focus, .btn-outline-warning:focus {
  box-shadow: 0 0 0 2px rgba(239, 172, 77, 0.5); }

.btn-warning.focus, .btn-warning:focus {
  box-shadow: 0 0 0 2px rgba(239, 172, 77, 0.5); }

.btn-warning.disabled, .btn-warning:disabled {
  background-color: #FF8F00;
  border-color: #FF8F00; }

.card-warning {
  background-color: #FF8F00;
  border-color: #FF8F00; }

.btn-warning.active, .btn-warning:active {
  background-color: #cc7200;
  background-image: none;
  border-color: #c26d00;
  color: white; }

.show > .btn-warning.dropdown-toggle {
  background-color: #cc7200;
  background-image: none;
  border-color: #c26d00;
  color: white; }

.btn-danger {
  background-color: #d8544f;
  border-color: #d8544f;
  color: white; }

.btn-outline-danger.active, .btn-outline-danger:active, .btn-outline-danger:hover {
  background-color: #d8544f;
  border-color: #d8544f;
  color: white; }

.show > .btn-outline-danger.dropdown-toggle {
  background-color: #d8544f;
  border-color: #d8544f;
  color: white; }

.btn-danger:hover {
  background-color: #c9312c;
  border-color: #c02f2a;
  color: white; }

.btn-danger.focus, .btn-danger:focus {
  box-shadow: 0 0 0 2px rgba(216, 84, 79, 0.5); }

.btn-outline-danger.focus, .btn-outline-danger:focus {
  box-shadow: 0 0 0 2px rgba(216, 84, 79, 0.5); }

.btn-danger.disabled, .btn-danger:disabled {
  background-color: #d8544f;
  border-color: #d8544f; }

.card-danger {
  background-color: #d8544f;
  border-color: #d8544f; }

.btn-danger.active, .btn-danger:active {
  background-color: #c9312c;
  background-image: none;
  border-color: #c02f2a;
  color: white; }

.show > .btn-danger.dropdown-toggle {
  background-color: #c9312c;
  background-image: none;
  border-color: #c02f2a;
  color: white; }

.btn-outline-primary {
  background-color: transparent;
  color: #303F9F;
  background-image: none;
  border-color: #303F9F; }
  .btn-outline-primary.disabled, .btn-outline-primary:disabled {
    background-color: transparent;
    color: #303F9F; }

.btn-outline-secondary {
  background-color: transparent;
  background-image: none;
  border-color: silver;
  color: silver; }
  .btn-outline-secondary.active, .btn-outline-secondary:active, .btn-outline-secondary:hover {
    background-color: silver;
    border-color: silver;
    color: #2b2b2b; }

.show > .btn-outline-secondary.dropdown-toggle {
  background-color: silver;
  border-color: silver;
  color: #2b2b2b; }

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  background-color: transparent;
  color: silver; }

.btn-outline-info {
  background-color: transparent;
  color: #039BE5;
  background-image: none;
  border-color: #039BE5; }
  .btn-outline-info.disabled, .btn-outline-info:disabled {
    background-color: transparent;
    color: #039BE5; }

.btn-outline-success {
  background-color: transparent;
  color: #689F38; }
  .btn-outline-success.disabled, .btn-outline-success:disabled {
    background-color: transparent;
    color: #689F38; }

.btn-outline-warning {
  background-color: transparent;
  color: #FF8F00; }
  .btn-outline-warning.disabled, .btn-outline-warning:disabled {
    background-color: transparent;
    color: #FF8F00; }

.btn-outline-success {
  background-image: none;
  border-color: #689F38; }

.btn-outline-warning {
  background-image: none;
  border-color: #FF8F00; }

.btn-outline-danger {
  background-color: transparent;
  color: #d8544f;
  background-image: none;
  border-color: #d8544f; }
  .btn-outline-danger.disabled, .btn-outline-danger:disabled {
    background-color: transparent;
    color: #d8544f; }

.btn-link {
  color: #303F9F;
  background-color: transparent; }
  .btn-link.active, .btn-link:active, .btn-link:disabled {
    background-color: transparent; }

.card-danger .card-footer, .card-danger .card-header {
  background-color: transparent; }

.card-info .card-footer, .card-info .card-header {
  background-color: transparent; }

.card-outline-danger, .card-outline-info, .card-outline-primary, .card-outline-secondary, .card-outline-success, .card-outline-warning {
  background-color: transparent; }

.card-primary .card-footer, .card-primary .card-header {
  background-color: transparent; }

.card-success .card-footer, .card-success .card-header {
  background-color: transparent; }

.card-warning .card-footer, .card-warning .card-header {
  background-color: transparent; }

.btn-link {
  border-color: transparent; }
  .btn-link:active, .btn-link:focus, .btn-link:hover {
    border-color: transparent; }
  .btn-link:focus, .btn-link:hover {
    background-color: transparent;
    color: #014c8e; }
  .btn-link:disabled {
    color: #6b6b6b; }

.card {
  border: 1px solid rgba(0, 0, 0, 0.125); }

.card-footer {
  background-color: #f7f7f7; }

.card-header {
  background-color: #f7f7f7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

.card-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125); }

.card-outline-primary {
  border-color: #303F9F; }

.card-outline-secondary {
  border-color: silver; }

.card-outline-info {
  border-color: #039BE5; }

.card-outline-success {
  border-color: #689F38; }

.card-outline-warning {
  border-color: #FF8F00; }

.card-outline-danger {
  border-color: #d8544f; }

.card-inverse {
  color: rgba(255, 255, 255, 0.65); }
  .card-inverse .card-blockquote .blockquote-footer, .card-inverse .card-link, .card-inverse .card-subtitle, .card-inverse .card-text {
    color: rgba(255, 255, 255, 0.65); }

.badge {
  color: white; }

.card-inverse .card-blockquote, .card-inverse .card-footer, .card-inverse .card-header {
  color: white; }

.card-inverse .card-link:focus, .card-inverse .card-link:hover {
  color: white; }

.card-inverse .card-title {
  color: white; }

.card-inverse .card-footer, .card-inverse .card-header {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.2); }

.badge-default {
  background-color: #6b6b6b; }
  .badge-default[href]:focus, .badge-default[href]:hover {
    background-color: #525252; }

.badge-primary {
  background-color: #303F9F; }
  .badge-primary[href]:focus, .badge-primary[href]:hover {
    background-color: #242f78; }

.badge-success {
  background-color: #689F38; }
  .badge-success[href]:focus, .badge-success[href]:hover {
    background-color: #4f792b; }

.badge-info {
  background-color: #039BE5; }
  .badge-info[href]:focus, .badge-info[href]:hover {
    background-color: #0279b3; }

.badge-warning {
  background-color: #FF8F00; }
  .badge-warning[href]:focus, .badge-warning[href]:hover {
    background-color: #cc7200; }

.badge-danger {
  background-color: #d8544f; }
  .badge-danger[href]:focus, .badge-danger[href]:hover {
    background-color: #c9312c; }

.bg-faded {
  background-color: #f7f7f7; }

.bg-primary {
  background-color: #303F9F !important; }

a.bg-primary:focus, a.bg-primary:hover {
  background-color: #242f78 !important; }

.bg-success {
  background-color: #689F38 !important; }

a.bg-success:focus, a.bg-success:hover {
  background-color: #4f792b !important; }

.bg-info {
  background-color: #039BE5 !important; }

a.bg-info:focus, a.bg-info:hover {
  background-color: #0279b3 !important; }

.bg-warning {
  background-color: #FF8F00 !important; }

a.bg-warning:focus, a.bg-warning:hover {
  background-color: #cc7200 !important; }

.bg-danger {
  background-color: #d8544f !important; }

a.bg-danger:focus, a.bg-danger:hover {
  background-color: #c9312c !important; }

.bg-inverse {
  background-color: #2b2b2b !important; }

a.bg-inverse:focus, a.bg-inverse:hover {
  background-color: black !important; }

.text-white {
  color: white !important; }

.text-muted {
  color: #6b6b6b !important; }

a.text-muted:focus, a.text-muted:hover {
  color: #525252 !important; }

.text-primary {
  color: #303F9F !important; }

a.text-primary:focus, a.text-primary:hover {
  color: #242f78 !important; }

.text-success {
  color: #689F38 !important; }

a.text-success:focus, a.text-success:hover {
  color: #4f792b !important; }

.text-info {
  color: #039BE5 !important; }

a.text-info:focus, a.text-info:hover {
  color: #0279b3 !important; }

.text-warning {
  color: #FF8F00 !important; }

a.text-warning:focus, a.text-warning:hover {
  color: #cc7200 !important; }

.text-danger {
  color: #d8544f !important; }

a.text-danger:focus, a.text-danger:hover {
  color: #c9312c !important; }

.text-gray-dark {
  color: #2b2b2b !important; }

a.text-gray-dark:focus, a.text-gray-dark:hover {
  color: black !important; }

/*# sourceMappingURL=var.css.map */