$primary: #303F9F;
$info: #039BE5;
$success: #689F38;
$warning: #FF8F00;
$danger: hsla(2, 64%, 58%, 1);
.btn {
  border: 1px solid transparent;

  &.focus, &:focus {
    box-shadow: 0 0 0 2px hsla(208, 98%, 43%, 0.25);
    outline: 0;
  }

  &.disabled, &:disabled {
    opacity: .65;
  }

  &.active, &:active {
    background-image: none;
  }
}

.btn-outline-primary {
  &.active, &:active, &:hover {
    background-color: $primary;
    border-color: $primary;
    color: white;
  }
}

.btn-primary, .show > .btn-outline-primary.dropdown-toggle {
  background-color: $primary;
  border-color: $primary;
  color: white;
}

.btn-primary:hover {
  border-color: darken($primary, 12);
  color: white;
}

.btn-outline-primary {
  &.focus, &:focus {
    box-shadow: 0 0 0 2px hsla(208, 98%, 43%, 0.5);
  }
}

.btn-primary {
  &.focus, &:focus {
    box-shadow: 0 0 0 2px hsla(208, 98%, 43%, 0.5);
  }

  &.disabled, &:disabled {
    background-color: $primary;
    border-color: $primary;
  }
}

.card-primary {
  background-color: $primary;
  border-color: $primary;
}

.btn-primary {
  &.active, &:active {
    background-color: darken($primary, 10);
    background-image: none;
    border-color: darken($primary, 12);
    color: white;
  }
}

.show > .btn-primary.dropdown-toggle {
  background-color: darken($primary, 10);
  background-image: none;
  border-color: darken($primary, 12);
  color: white;
}

.btn-secondary {
  background-color: white;
  border-color: silver;
  color: hsla(200, 0%, 17%, 1);

  &:hover {
    background-color: hsla(0, 0%, 90%, 1);
    border-color: hsla(0, 0%, 68%, 1);
    color: hsla(0, 0%, 17%, 1);
  }
}

.btn-outline-secondary {
  &.focus, &:focus {
    box-shadow: 0 0 0 2px hsla(0, 0%, 80%, 0.5);
  }
}

.btn-secondary {
  &.focus, &:focus {
    box-shadow: 0 0 0 2px hsla(0, 0%, 80%, 0.5);
  }

  &.disabled, &:disabled {
    background-color: white;
    border-color: silver;
  }

  &.active, &:active {
    background-color: hsla(0, 0%, 90%, 1);
    background-image: none;
    border-color: hsla(0, 0%, 68%, 1);
    color: hsla(0, 0%, 17%, 1);
  }
}

.show > .btn-secondary.dropdown-toggle {
  background-color: hsla(0, 0%, 90%, 1);
  background-image: none;
  border-color: hsla(0, 0%, 68%, 1);
  color: hsla(0, 0%, 17%, 1);
}

.btn-info {
  background-color: $info;
  border-color: $info;
  color: white;
}

.btn-outline-info {
  &.active, &:active, &:hover {
    background-color: $info;
    border-color: $info;
    color: white;
  }
}

.show > .btn-outline-info.dropdown-toggle {
  background-color: $info;
  border-color: $info;
  color: white;
}

.btn-info {
  &:hover {
    background-color: darken($info, 10);
    border-color: darken($info, 12);
    color: white;
  }

  &.focus, &:focus {
    box-shadow: 0 0 0 2px hsla(194, 66%, 61%, 0.5);
  }
}

.btn-outline-info {
  &.focus, &:focus {
    box-shadow: 0 0 0 2px hsla(194, 66%, 61%, 0.5);
  }
}

.btn-info {
  &.disabled, &:disabled {
    background-color: $info;
    border-color: $info;
  }
}

.card-info {
  background-color: $info;
  border-color: $info;
}

.btn-info {
  &.active, &:active {
    background-color: darken($info, 10);
    background-image: none;
    border-color: darken($info, 12);
    color: white;
  }
}

.show > .btn-info.dropdown-toggle {
  background-color: darken($info, 10);
  background-image: none;
  border-color: darken($info, 12);
  color: white;
}

.btn-outline-success {
  &.active, &:active, &:hover {
    background-color: $success;
    border-color: $success;
    color: white;
  }
}

.btn-success, .show > .btn-outline-success.dropdown-toggle {
  background-color: $success;
  border-color: $success;
  color: white;
}

.btn-success:hover {
  background-color: darken($success, 10);
  border-color: darken($success, 12);
  color: white;
}

.btn-outline-success {
  &.focus, &:focus {
    box-shadow: 0 0 0 2px hsla(120, 39%, 54%, 0.5);
  }
}

.btn-success {
  &.focus, &:focus {
    box-shadow: 0 0 0 2px hsla(120, 39%, 54%, 0.5);
  }

  &.disabled, &:disabled {
    background-color: $success;
    border-color: $success;
  }
}

.card-success {
  background-color: $success;
  border-color: $success;
}

.btn-success {
  &.active, &:active {
    background-color: darken($success, 10);
    background-image: none;
    border-color: darken($success, 12);
    color: white;
  }
}

.show > .btn-success.dropdown-toggle {
  background-color: darken($success, 10);
  background-image: none;
  border-color: darken($success, 12);
  color: white;
}

.btn-outline-warning {
  &.active, &:active, &:hover {
    background-color: $warning;
    border-color: $warning;
    color: white;
  }
}

.btn-warning, .show > .btn-outline-warning.dropdown-toggle {
  background-color: $warning;
  border-color: $warning;
  color: white;
}

.btn-warning:hover {
  background-color: darken($warning, 10);
  border-color: darken($warning, 12);
  color: white;
}

.btn-outline-warning {
  &.focus, &:focus {
    box-shadow: 0 0 0 2px hsla(35, 84%, 62%, 0.5);
  }
}

.btn-warning {
  &.focus, &:focus {
    box-shadow: 0 0 0 2px hsla(35, 84%, 62%, 0.5);
  }

  &.disabled, &:disabled {
    background-color: $warning;
    border-color: $warning;
  }
}

.card-warning {
  background-color: $warning;
  border-color: $warning;
}

.btn-warning {
  &.active, &:active {
    background-color: darken($warning, 10);
    background-image: none;
    border-color: darken($warning, 12);
    color: white;
  }
}

.show > .btn-warning.dropdown-toggle {
  background-color: darken($warning, 10);
  background-image: none;
  border-color: darken($warning, 12);
  color: white;
}

.btn-danger {
  background-color: $danger;
  border-color: $danger;
  color: white;
}

.btn-outline-danger {
  &.active, &:active, &:hover {
    background-color: $danger;
    border-color: $danger;
    color: white;
  }
}

.show > .btn-outline-danger.dropdown-toggle {
  background-color: $danger;
  border-color: $danger;
  color: white;
}

.btn-danger {
  &:hover {
    background-color: darken($danger, 10);
    border-color: darken($danger, 12);
    color: white;
  }

  &.focus, &:focus {
    box-shadow: 0 0 0 2px hsla(2, 64%, 58%, 0.5);
  }
}

.btn-outline-danger {
  &.focus, &:focus {
    box-shadow: 0 0 0 2px hsla(2, 64%, 58%, 0.5);
  }
}

.btn-danger {
  &.disabled, &:disabled {
    background-color: $danger;
    border-color: $danger;
  }
}

.card-danger {
  background-color: $danger;
  border-color: $danger;
}

.btn-danger {
  &.active, &:active {
    background-color: darken($danger, 10);
    background-image: none;
    border-color: darken($danger, 12);
    color: white;
  }
}

.show > .btn-danger.dropdown-toggle {
  background-color: darken($danger, 10);
  background-image: none;
  border-color: darken($danger, 12);
  color: white;
}

.btn-outline-primary {
  background-color: transparent;
  color: $primary;

  &.disabled, &:disabled {
    background-color: transparent;
    color: $primary;
  }

  background-image: none;
  border-color: $primary;
}

.btn-outline-secondary {
  background-color: transparent;
  background-image: none;
  border-color: silver;
  color: silver;

  &.active, &:active, &:hover {
    background-color: silver;
    border-color: silver;
    color: hsla(0, 0%, 17%, 1);
  }
}

.show > .btn-outline-secondary.dropdown-toggle {
  background-color: silver;
  border-color: silver;
  color: hsla(0, 0%, 17%, 1);
}

.btn-outline-secondary {
  &.disabled, &:disabled {
    background-color: transparent;
    color: silver;
  }
}

.btn-outline-info {
  background-color: transparent;
  color: $info;

  &.disabled, &:disabled {
    background-color: transparent;
    color: $info;
  }

  background-image: none;
  border-color: $info;
}

.btn-outline-success {
  background-color: transparent;
  color: $success;

  &.disabled, &:disabled {
    background-color: transparent;
    color: $success;
  }
}

.btn-outline-warning {
  background-color: transparent;
  color: $warning;

  &.disabled, &:disabled {
    background-color: transparent;
    color: $warning;
  }
}

.btn-outline-success {
  background-image: none;
  border-color: $success;
}

.btn-outline-warning {
  background-image: none;
  border-color: $warning;
}

.btn-outline-danger {
  background-color: transparent;
  color: $danger;

  &.disabled, &:disabled {
    background-color: transparent;
    color: $danger;
  }

  background-image: none;
  border-color: $danger;
}

.btn-link {
  color: $primary;
  background-color: transparent;

  &.active, &:active, &:disabled {
    background-color: transparent;
  }
}

.card-danger {
  .card-footer, .card-header {
    background-color: transparent;
  }
}

.card-info {
  .card-footer, .card-header {
    background-color: transparent;
  }
}

.card-outline-danger, .card-outline-info, .card-outline-primary, .card-outline-secondary, .card-outline-success, .card-outline-warning {
  background-color: transparent;
}

.card-primary {
  .card-footer, .card-header {
    background-color: transparent;
  }
}

.card-success {
  .card-footer, .card-header {
    background-color: transparent;
  }
}

.card-warning {
  .card-footer, .card-header {
    background-color: transparent;
  }
}

.btn-link {
  border-color: transparent;

  &:active, &:focus, &:hover {
    border-color: transparent;
  }

  &:focus, &:hover {
    background-color: transparent;
    color: hsla(208, 99%, 28%, 1);
  }

  &:disabled {
    color: hsla(0, 0%, 42%, 1);
  }
}

.card {
  //background-color: white;
  border: 1px solid hsla(0, 0%, 0%, 0.125);
}

.card-footer {
  background-color: hsla(0, 0%, 97%, 1);
}

.card-header {
  background-color: hsla(0, 0%, 97%, 1);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.125);
}

.card-footer {
  border-top: 1px solid hsla(0, 0%, 0%, 0.125);
}

.card-outline-primary {
  border-color: $primary;
}

.card-outline-secondary {
  border-color: silver;
}

.card-outline-info {
  border-color: $info;
}

.card-outline-success {
  border-color: $success;
}

.card-outline-warning {
  border-color: $warning;
}

.card-outline-danger {
  border-color: $danger;
}

.card-inverse {
  color: hsla(0, 0%, 100%, 0.65);

  .card-blockquote .blockquote-footer, .card-link, .card-subtitle, .card-text {
    color: hsla(0, 0%, 100%, 0.65);
  }
}

.badge {
  color: white;
}

.card-inverse {
  .card-blockquote, .card-footer, .card-header {
    color: white;
  }

  .card-link {
    &:focus, &:hover {
      color: white;
    }
  }

  .card-title {
    color: white;
  }

  .card-footer, .card-header {
    background-color: transparent;
    border-color: hsla(0, 0%, 100%, 0.2);
  }
}

.badge-default {
  background-color: hsla(0, 0%, 42%, 1);

  &[href] {
    &:focus, &:hover {
      background-color: hsla(0, 0%, 32%, 1);
    }
  }
}

.badge-primary {
  background-color: $primary;

  &[href] {
    &:focus, &:hover {
      background-color: darken($primary, 10);
    }
  }
}

.badge-success {
  background-color: $success;

  &[href] {
    &:focus, &:hover {
      background-color: darken($success, 10);
    }
  }
}

.badge-info {
  background-color: $info;

  &[href] {
    &:focus, &:hover {
      background-color: darken($info, 10);
    }
  }
}

.badge-warning {
  background-color: $warning;

  &[href] {
    &:focus, &:hover {
      background-color: darken($warning, 10);
    }
  }
}

.badge-danger {
  background-color: $danger;

  &[href] {
    &:focus, &:hover {
      background-color: darken($danger, 10);
    }
  }
}

.bg-faded {
  background-color: hsla(0, 0%, 97%, 1);
}

.bg-primary {
  background-color: $primary !important;
}

a.bg-primary {
  &:focus, &:hover {
    background-color: darken($primary, 10) !important;
  }
}

.bg-success {
  background-color: $success !important;
}

a.bg-success {
  &:focus, &:hover {
    background-color: darken($success, 10) !important;
  }
}

.bg-info {
  background-color: $info !important;
}

a.bg-info {
  &:focus, &:hover {
    background-color: darken($info, 10) !important;
  }
}

.bg-warning {
  background-color: $warning !important;
}

a.bg-warning {
  &:focus, &:hover {
    background-color: darken($warning, 10) !important;
  }
}

.bg-danger {
  background-color: $danger !important;
}

a.bg-danger {
  &:focus, &:hover {
    background-color: darken($danger, 10) !important;
  }
}

.bg-inverse {
  background-color: hsla(0, 0%, 17%, 1) !important;
}

a.bg-inverse {
  &:focus, &:hover {
    background-color: black !important;
  }
}

.text-white {
  color: white !important;
}

.text-muted {
  color: hsla(0, 0%, 42%, 1) !important;
}

a.text-muted {
  &:focus, &:hover {
    color: hsla(0, 0%, 32%, 1) !important;
  }
}

.text-primary {
  color: $primary !important;
}

a.text-primary {
  &:focus, &:hover {
    color: darken($primary, 10) !important;
  }
}

.text-success {
  color: $success !important;
}

a.text-success {
  &:focus, &:hover {
    color: darken($success, 10) !important;
  }
}

.text-info {
  color: $info !important;
}

a.text-info {
  &:focus, &:hover {
    color: darken($info, 10) !important;
  }
}

.text-warning {
  color: $warning !important;
}

a.text-warning {
  &:focus, &:hover {
    color: darken($warning, 10) !important;
  }
}

.text-danger {
  color: $danger !important;
}

a.text-danger {
  &:focus, &:hover {
    color: darken($danger, 10) !important;
  }
}

.text-gray-dark {
  color: hsla(0, 0%, 17%, 1) !important;
}

a.text-gray-dark {
  &:focus, &:hover {
    color: black !important;
  }
}
